html {
  box-sizing: border-box;
  font-size: 16px;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 5% 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 8px;
}

.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  color: black;
  text-decoration: none;
}

.wrapper {
  width: 450px;
  height: 450px;
  position: relative;
  background: green;
  border-radius: 50%;
  box-sizing: border-box;
}

.wrapper * {
  box-sizing: border-box;
}

.wrapper.time-over {
  background-color: red;
}

.pie {
  width: 50%;
  height: 100%;
  transform-origin: 100% 50%;
  position: absolute;
  background: red;
  border: 5px solid rgba(0, 0, 0, 0.5);
}

.spinner {
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  z-index: 200;
  border-right: none;
}

.filler {
  border-radius: 0 100% 100% 0 / 0 50% 50% 0;
  left: 50%;
  opacity: 0;
  z-index: 100;
  border-left: none;
}

.mask {
  width: 50%;
  height: 100%;
  position: absolute;
  background: inherit;
  opacity: 1;
  z-index: 300;
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
}

@keyframes rota {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes opa {
  0% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}

.minutes {
  width: 2rem;
}

.footer {
  width: 100%;
  padding: 4px 0;
  margin: 4px 0;
  display: flex;
  justify-content: center;
}

.footer a {
  margin: 0 4px;
  text-decoration: none;
  color: black;
}

.footer a:hover {
  text-decoration: underline;
  font-weight: bold;
}

.settings-list {
  list-style: none;
  margin: 0;
  padding: 0;
  flex-basis: 100%;
  text-align: center;
}

.time-remaining {
  margin: 8px 0;
}

/* Mobile styles */
@media (max-width: 600px) {
  body {
    margin: 2% 0;
  }

  h1 {
    font-size: 1.5rem;
  }

  .wrapper {
    width: 350px;
    height: 350px;
    position: relative;
    background: green;
    border-radius: 50%;
    box-sizing: border-box;
  }
}
